<!-- start custom head snippets -->

<script src="https://use.fontawesome.com/805c1c57ab.js"></script>

{% if page.categories contains 'tiktok' %}
  <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <link href="https://cdn.rawgit.com/datanews/tik-tok/0.1.1/dist/tik-tok.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.rawgit.com/datanews/tik-tok/0.1.1/dist/tik-tok.min.js"></script>
{% endif %}

{% if page.categories contains 'sheet' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://rawgit.com/jlord/federal-gov/master/style.css">
  <script type="text/javascript" src="https://rawgit.com/jlord/federal-gov/master/js/tabletop.js"></script>
  <script type="text/javascript" src="https://rawgit.com/jlord/federal-gov/master/js/sheetsee.js"></script>
{% endif %}


<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
